<section class="section-cuidado">

    <div class="encabezado">
        <app-nabvar></app-nabvar>
    </div>
    <div class="container">
        <div class="article-1">
            <img src="/assets/img/imgCuiAve 1.PNG.png" alt="img" class="img-article-1">
            <div class="text-article-1">
                <p class="p-article">
                    En &nbsp; &nbsp; <b>PETSCITY</b>&nbsp; &nbsp; te &nbsp;&nbsp; contamos &nbsp;&nbsp; las &nbsp;&nbsp; características &nbsp; más<br> importantes de las aves y los consejos que debes de seguir<br> para el completo bienestar de tu mascota.
                </p>
                <div class="line-article"></div>
                <h2 class="h2-article">SU ESPACIO</h2>
                <p class="p-article">
                    El &nbsp; espacio &nbsp; en el que &nbsp; vivirá &nbsp; el ave y &nbsp; la &nbsp; temperatura son<br> primordiales para su bienestar e&nbsp; influirán en su calidad de <br> vida. La jaula donde habitará debe de ser cómoda para que<br> pueda &nbsp; &nbsp; moverse &nbsp; &nbsp; sin &nbsp; problema &nbsp; y tiene &nbsp; que &nbsp; limpiarse<br> regularmente para su perfecta higiene.
                </p>
            </div>
        </div>

        <div class="article-2">

            <h2 class="h2-article">ALIMENTACIÓN</h2>

            <p class="p-article">
                Cada tipo de ave necesita una alimentación determinada y unas semillas específicas, por lo que deberás de<br> conocer cuál es la comida que necesita tu ave según su raza. Aportar vitaminas a su comida hará que crezcan<br> mucho más sanos, por lo que deberás de darles una alimentación equilibrada. Necesita alimentos ricos en<br> vitamina, fibra y minerales como la batata, los frutos secos, la calabaza o las espinacas, entre otros.<br><br>
                Hay que recordar que se tratan de animales que están acostumbrados a estar en total libertad y encontrar su<br> propio alimento.
            </p>

            <h2 class="h2-article">TEMPERATURA</h2>

            <p class="p-article">
                Hay que tener bastante cuidado con la temperatura en las aves, ya que no es bueno exponerlos a temperaturas ni<br> muy altas ni muy bajas. Estos animales necesitan luz natural, pero de manera controlada. Lo ideal es tenerlos en un<br> ambiente fresco donde haya sombras en las que se puedan cobijar.
            </p>

            <h2 class="h2-article">EL CANTO</h2>

            <p class="p-article">
                El canto en las aves es más pronunciado en el macho, ya que es su expresión de sexualidad e indican el estado de<br> su bienestar. Las hembras también realizan sonidos, pero, en este caso, son más sutiles.<br><br>
                También hay que estimularlos para que hagan ruido a partir de silbidos, con música o hablándoles<br> constantemente
            </p>

            <h2 class="h2-article">CUIDADOS BÁSICOS EN LA HIGIENE DE LAS AVES</h2>

            <p class="p-article">
                - Cambia la bandeja entre una y dos veces a la semana.<br><br>
                - La bañera se debe cambiar diariamente.<br><br>
                - Lava a tu ave de vez en cuando con un cuenco de agua en su jaula, ya que muchos se acicalan ellos mismos.<br><br>
                - Limpiar las barandas donde se posan y que se ensucian frecuentemente con sus desechos.<br><br>
                - Corta las uñas de tu ave con unas tijeras especiales, aunque te recomendamos que lo lleves a tu veterinario de<br> confianza.<br><br>
                - Coloca la comida y el agua en soportes externos. De esta forma garantizamos que haya más espacio y no ensucie<br> los alimentos.<br><br>
                - Algunas aves cuando son más grandes, como los loros o periquitos, requieren de piedras especiales para que<br> limen o gasten sus picos.<br><br>

                Si notas que tu ave tiene buen aspecto, energía, es ágil y come bien, es que lo estás haciendo bien con su cuidado.<br><br>

                Si sigues estos pasos, tendrás una mascota feliz y sana. Y si tienes cualquier duda, no te olvides en contactar<br> con tu <b>Clínica Veterinaria de confianza PetsCity.</b>
            </p>

            <div class="line-article"></div>
        </div>
    </div>

    <app-footer></app-footer>
</section>