<section class="section-cirugia">
    <div class="encabezado">
        <app-nabvar></app-nabvar>
    </div>

    <div class="contenedor">

        <div class="article-lang">

            <img class="img-ciru-lang" src="/assets/img/imgCirug 1.PNG.png" alt="img">

            <div class="items-ciru">

                <div class="item-ciru-1">
                    <p class="p-ciru-1">
                        Todo procedimiento quirúrgico conlleva riesgos inherentes a <br> la &nbsp; anestesia &nbsp; y &nbsp; al procedimiento &nbsp; o técnica &nbsp; quirúrgica &nbsp; a<br> realizar, &nbsp; así &nbsp; como posibles &nbsp; complicaciones &nbsp; que &nbsp;puedan<br> surgir posteriores a la intervención.<br><br>
                        En el Centro Veterinario <b>PetsCity</b> minimizamos los riesgos de<br> la siguiente forma:
                    </p>
                </div>

                <div class="item-ciru">
                    <img src="/assets/icons/isotipoMora.PNG.png" alt="img" class="icon-ciru">
                    <p class="p-ciru">
                        Adecuada &nbsp; &nbsp; preparación &nbsp; &nbsp; del &nbsp; &nbsp; paciente, &nbsp; con  &nbsp; un &nbsp;<br> detallado &nbsp; examen &nbsp; físico &nbsp; y &nbsp; pruebas de laboratorio,<br> para  determinar el &nbsp; riesgo &nbsp; anestésico y quirúrgico.
                    </p>
                </div>

                <div class="item-ciru">
                    <img src="/assets/icons/isotipoMora.PNG.png" alt="img" class="icon-ciru">
                    <p class="p-ciru">
                        Contamos &nbsp; con &nbsp; un &nbsp; quirófano&nbsp; estéril, equipado con<br> aparatos de monitoreo, adecuada iluminación y<br> material médico quirúrgico de calidad.
                    </p>
                </div>

                <div class="item-ciru">
                    <img src="/assets/icons/isotipoMora.PNG.png" alt="img" class="icon-ciru">
                    <p class="p-ciru">
                        Médicos &nbsp; cirujanos &nbsp; y &nbsp; anestesiólogo especializado y<br> con &nbsp; experiencia &nbsp; en las &nbsp; diferentes &nbsp; técnicas<br> quirúrgicas.
                    </p>
                </div>

                <div class="item-ciru">
                    <img src="/assets/icons/isotipoMora.PNG.png" alt="img" class="icon-ciru">
                    <p class="p-ciru">
                        Monitoreo &nbsp; detallado &nbsp; del paciente &nbsp; antes, &nbsp; durante y<br> posterior &nbsp; al &nbsp; procedimiento, asegurándose de que se<br> encuentre confortable y &nbsp; con manejo del dolor, &nbsp; hasta<br> su completa recuperación post quirúrgica.
                    </p>
                </div>

                <div class="item-ciru">
                    <img src="/assets/icons/isotipoMora.PNG.png" alt="img" class="icon-ciru">
                    <p class="p-ciru">
                        Seguimiento &nbsp; de &nbsp; la &nbsp; evolución del &nbsp; paciente los días<br> sucesivos hasta su recuperación.
                    </p>
                </div>

            </div>

        </div>

        <div class="article-small">
            <div class="small">
                <img src="/assets/img/imgCirug 2.PNG.png" alt="img" class="img-ciru-small">
                <div class="text-ciru">
                    <p class="p-ciru-small">
                        En &nbsp; <a href="#"><b>@PETSCITY</b></a> &nbsp; sabemos &nbsp; que el paciente es una mascota<br> querida &nbsp; y &nbsp; considerada &nbsp; un &nbsp; miembro &nbsp; de &nbsp;la &nbsp; familia muy<br> importante, &nbsp; por &nbsp; ello, &nbsp; nos &nbsp;aseguramos que sea &nbsp; atendido<br> siguiendo &nbsp; las &nbsp; &nbsp; pautas&nbsp; &nbsp; anteriores &nbsp; y &nbsp; logre &nbsp; &nbsp; recuperarse<br> completa y satisfactoriamente del procedimiento quirúrgico
                    </p>
                    <div class="line-ciru"></div>
                </div>
            </div>
            <div class="app-solicita">
                <app-spam-solicita></app-spam-solicita>
            </div>
        </div>

    </div>
    <app-footer></app-footer>
</section>