<section class="section-viajes">

    <div class="encabezado">
        <app-nabvar></app-nabvar>
    </div>
    <div class="container">
        <div class="article-1">
            <img src="/assets/img/imgViaja.PNG.png" alt="img" class="img-article-1">
            <div class="text-article-1">
                <p class="p-article">
                    El verano es una de las épocas del año más relajantes. En ella<br>
                    los viajes son muy habituales gracias al buen tiempo y los<br>
                    periodos vacacionales. Sin embargo, también supone una<br>
                    época de cierto estrés para aquellos que tienen mascotas,<br>
                    especialmente para quienes las tienen desde hace poco y no<br>
                    saben qué cosas hay que tener en cuenta para viajar con<br>
                    ellas. Viajar con un animal implica realizar una serie de pasos<br>
                    previos al viaje, durante el trayecto y cuando ya has llegado<br>
                    al lugar de destino.
                </p>
                <div class="line-article"></div>
            </div>
        </div>

        <div class="article-2">

            <h2 class="h2-article">ANTES DEL VIAJE:</h2>

            <p class="p-article">
                Uno de los aspectos fundamentales mientras organizas tu viaje es asegurarte de que el hotel o el apartamento que contratas permita el acceso a mascotas. En muchos destinos son muy estrictos con la política de acceso de animales, por lo que si no te has asegurado de que están permitidos puedes tener un serio problema.<br><br>

                También es importante elegir un destino que sea agradable para tu mascota: que tenga lugares para pasear, el clima sea adecuado, etc. Acudir al veterinario antes de viajar también es un paso importante para asegurarte de que tu mascota se encuentra en perfectas condiciones de salud. En esta revisión tienes que preocuparte de que el animal tenga todas las vacunas necesarias y el chip localizador para evitar problemas. Además, en esta visita se harán recomendaciones específicas e individualizadas sobre la mejor forma de proteger a vuestra mascota frente a parásitos externos, y así evitar que en el transcurso de las vacaciones pueda contraer alguna enfermedad transmisible.<br><br>

                Si vas a viajar al extranjero con tu mascota, es muy importante que te informes de las necesidades que requiere el lugar de destino elegido para entrar con animales. Imprescindible será el pasaporte, pero muchas veces no sólo es necesario este trámite. Al igual que las personas preparan el equipaje con lo necesario, también las mascotas deben viajar con su “maleta” en la que se lleve el collar, la correa, algún juguete, una manta, agua para el trayecto y un cuenco; además de todos los productos de higiene, antiparasitarios y la comida.
            </p>

            <h2 class="h2-article">DURANTE EL VIAJE:</h2>

            <p class="p-article">
                Si tu mascota es pequeña la opción más adecuada para cualquier medio de transporte es el transportín. Puede resultar poco atractivo llevar a tu mascota en esta caja, pero es la opción más segura. Si el animal es de mayor tamaño y viajas en coche puedes optar por utilizar un arnés y colocar rejillas o barras en el vehículo. Si viajas en tren o avión lo más importante es consultar con la compañía cuales son sus políticas de viaje para animales, ya que suelen variar entre las distintas empresas. Para evitar que tu mascota se maree puedes visitar previamente al veterinario para que te de algún medicamento. Además, es importante que inicie el trayecto con el estómago vacío y que haya hecho sus necesidades. Es importante realizar tantas paradas como sean necesarias. Localiza las áreas de descanso en las que tu mascota pueda dar un pequeño paseo y beber agua de forma segura.
            </p>

            <h2 class="h2-article">EN EL DESTINO:</h2>

            <p class="p-article">
                Una vez que has llegado a tu alojamiento es importante colocar sus juguetes y pertenencias para que tu mascota no note tanto la ausencia de casa y se familiarice con el ambiente.<br>
                Es recomendable localizar la clínica veterinaria más cercana por si es necesaria en algún momento del viaje.<br>
                En la medida de lo posible intenta que tu mascota siga sus pautas horarias de alimentación y una dieta similar a la de su día a día para no causarle problemas intestinales.<br><br>
                
                Con la ayuda de estos consejos conseguirás que tu mascota también pueda disfrutar de las vacaciones y no tenga problemas en adaptarse a los días que estéis fuera de casa.
                
            </p>
            <div class="line-article"></div>
        </div>
    </div>

    <app-footer></app-footer>
</section>