<div class="section-peluqueria">
    <div class="encabezado">
        <app-nabvar></app-nabvar>
    </div>

    <div class="contenedor">
        <div class="imgs-peluq">
            <img src="/assets/img/imgPeluq 1.PNG.png" alt="imgPeluqueria-1" class="img-peluq-1">
            <img src="/assets/img/imgPeluq 2.PNG.png" alt="imgPeluqueria-2" class="img-peluq-2">
        </div>

        <div class="text-peluq">
            <p class="p-peluq">
                La &nbsp;higiene y el buen estado del pelaje de nuestras mascotas<br>
                está &nbsp;muy &nbsp;relacionada con la salud y &nbsp;el control &nbsp;de pulgas &nbsp;y<br>
                garrapatas en nuestras mascotas caninas y felinas.<br><br><br>

                En &nbsp; el &nbsp;<b>PetsCity</b> &nbsp;entendemos &nbsp;la &nbsp;importancia &nbsp;de &nbsp;prestar &nbsp;un<br>
                servicio &nbsp; integral &nbsp;para &nbsp;nuestros &nbsp;pacientes &nbsp;y &nbsp;es por ello que<br>
                remodelamos y reequipamos el área de la peluquería.<br><br><br>

                Proporcionamos cursos de actualización en “pet grooming” a<br>
                nuestros &nbsp;peluqueros &nbsp;e &nbsp;invertimos &nbsp;en &nbsp;equipos &nbsp;y &nbsp;productos<br>
                especializados &nbsp;de &nbsp;última &nbsp;línea &nbsp;para &nbsp;la &nbsp;salud &nbsp;de &nbsp;la piel de<br>
                nuestros compañeros peludos.<br><br><br>

                Ampliamos &nbsp; los &nbsp; servicios &nbsp;de &nbsp;peluquería &nbsp;incluyendo &nbsp;baños<br>
                medicados &nbsp;&nbsp; con &nbsp;&nbsp; productos &nbsp; especializados, &nbsp; &nbsp; para &nbsp; sanar<br>
                diferentes &nbsp; &nbsp; afecciones &nbsp; y &nbsp; parásitos &nbsp; de &nbsp; la &nbsp; piel. &nbsp; Además,<br>
                incluimos&nbsp; la&nbsp; aplicación&nbsp; de&nbsp; tintes de bellos colores para dar<br>
                toques de belleza y gracia a los peludos de la casa.
            </p>

            <div class="line-peluq"></div>
        </div>
    </div>
    <app-spam-solicita></app-spam-solicita>
    <app-footer></app-footer>
</div>