<nav class="navbar navbar-expand-lg col">
   
    <div class="container-fluid ">

        <button class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"  
                aria-label="Toggle navigation"
                aria-expanded="false">
        <!-- <img class="btn-toggle_img" src="./assets/icons/isotipoBlaco.PNG.png" alt=""> -->
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <a class="navbar-brand" href="#"><img src="./assets/icons/isotipoBlaco.PNG.png" width="50px" alt="icono"/></a> -->
        
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/city/inicio">INICIO</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" routerLink="/city/about">QUIENES SOMOS</a>
                </li>

                <img src="./assets/icons/isotipoBlaco.PNG.png" alt="logo" class="logo-img" routerLink="/city/inicio" >

                <li class="nav-item">
                    <a class="nav-link active" routerLink="/city/servicios">SERVICIOS</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link active"  routerLink="/city/consejos">CONSEJOS</a>
                </li>

            </ul>

        </div>
        
    </div>
</nav>




<router-outlet></router-outlet>















