<nav class="navbar">
   
    <div class="contenedor">

            <ul class="navbar-ul">

                <li class="nav-item">
                    <a class="nav-link"routerLink="/city/inicio">INICIO</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " routerLink="/city/about">QUIENES SOMOS</a>
                </li>

                <img src="./assets/icons/isotipoBlaco.PNG.png" alt="logo" class="logo-img" routerLink="/city/inicio" >

                <li class="nav-item">
                    <a class="nav-link" routerLink="/city/servicios">SERVICIOS</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/city/consejos">CONSEJOS</a>
                </li>

            </ul>

        </div>
    
</nav>


<!-- <nav class="navbar navbar-expand-lg col">
   
    <div class="container-fluid ">

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/city/inicio">INICIO</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" routerLink="/city/about">QUIENES SOMOS</a>
                </li>

                <img src="./assets/icons/isotipoBlaco.PNG.png" alt="logo" class="logo-img" routerLink="/city/inicio" >

                <li class="nav-item">
                    <a class="nav-link active" routerLink="/city/servicios">SERVICIOS</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link active"  routerLink="/city/consejos">CONSEJOS</a>
                </li>

            </ul>

        </div>
        
    </div>
</nav> -->




<router-outlet></router-outlet>















