.navbar{
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}
.contenedor{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}
.navbar-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 4rem;
    list-style: none;
}
.nav-link{
    font-size: 1.5rem;
}
a{
    font-size: 20px;
    color: #E9E9E9;

}
.logo-img{
    width: 60px;
    cursor: pointer;
}






/* rgb(192, 208, 137)  color de fondo del video*/ 