<section class="section-adopcion">

    <div class="encabezado">
        <app-nabvar></app-nabvar>
    </div>
    <div class="container">
        <div class="article-1">
            <img src="/assets/img/imgAdop.PNG.png" alt="img" class="img-article-1">
            <div class="text-article-1">
                <p class="p-article">
                    Son &nbsp; &nbsp;  muchas  &nbsp; &nbsp; las personas que dan el paso de adoptar a cachorros, pero tenemos que ser conscientes de que hay una gran &nbsp; &nbsp;  cantidad de perros mayores que también buscan un hogar. Pero, sobre todo, desde
                    <b>PetsCity</b> queremos dejar claro que hay que tener meditada la decisión de la adopción y ser capaces &nbsp; &nbsp;  de cuidar &nbsp; &nbsp;  a la mascota a largo plazo, ya que los animales no son ningún capricho.  
                </p>
                <h2 class="h2-article">CÓMO Y DÓNDE ADOPTAR  UNA MASCOTA</h2>
                <p class="p-article">
                    Antes de iniciar la adopción, tienes que conocer las vías y las condiciones &nbsp; &nbsp; para &nbsp; &nbsp;  poder hacerlo, así como los principales requisitos para adoptar. &nbsp; &nbsp; En la actualidad, &nbsp; &nbsp; existen muchas protectoras,&nbsp; albergues, &nbsp; refugios o asociaciones, entre otras, que &nbsp; dan &nbsp; la posibilidad &nbsp; de acoger a animales de diferentes razas, edades y características. Muchas de ellas disponen de página &nbsp; web &nbsp; en la que podrás poner cara a distintos perfiles de animales.<br><br>
                    Si &nbsp; &nbsp; en &nbsp; &nbsp; tu &nbsp; &nbsp; localidad &nbsp; &nbsp; conoces &nbsp; &nbsp; algún lugar &nbsp;de acogida de &nbsp; &nbsp; mascotas, puedes ir a visitarlo y pedir asesoramiento de los profesionales encargados de la entidad. Ellos te ayudarán a resolverte todas las dudas que tenga sobre la adopción de tu futura mascota
                </p>

                <div class="line-article"></div>
            </div>
        </div>

        <div class="article-2">

            <h2 class="h2-article">REQUISITOS PARA ADOPTAR UN PERRO O UN GATO EN VENEZUELA</h2>

            <p class="p-article">
                Si tienes pensado adoptar una nueva mascota, deberás de cumplir las siguientes condiciones en nuestro país:<br><br> 
                - Ser mayor de edad.<br>
                - Entrevista con el que será el propietario.<br>  
                - Poseer capacidad económica para cubrir sus gastos diarios.<br> 
                - Presentar el comprobante de domicilio que demuestre que eres el propietario de la casa donde habitará la  mascota. En caso de alquiler, hay que demostrar que se aceptan animales.<br> 
                - En el contrato de adopción, hay una serie de requisitos que tendrás que firmar en el acta de acogida:<br><br>
                &nbsp; &nbsp; &nbsp; - Mantener a tu mascota en las mejores condiciones, cuidarla y alimentarla.<br>
                &nbsp; &nbsp; &nbsp; - Darle los cuidados veterinarios necesarios que necesite el animal.<br>
                &nbsp; &nbsp; &nbsp; - La mascota será entregada con las vacunas correspondientes, microchip y estará desparasitada.<br>
                &nbsp; &nbsp; &nbsp; - También queda bajo firma la prohibición de hacer modificaciones estéticas, como cortar las orejas o el rabo.<br>
                &nbsp; &nbsp; &nbsp; - Otra de las condiciones que se firmarán será el compromiso de castración debido al gran número de<br> &nbsp; &nbsp; &nbsp; abandonos de animales que hay.<br>
                &nbsp; &nbsp; &nbsp; - Existen algunas protectoras de animales que realizan controles periódicos a través de un seguimiento en el<br> &nbsp; &nbsp; &nbsp; domicilio tras la adopción o durante la acogida.<br> 
                &nbsp; &nbsp; &nbsp; - Deberás de notificar cualquier cambio, ya sea de domicilio, por caso de pérdida o muerte.<br><br>

                Siempre aconsejaremos que adoptes un animal, haciéndolo siempre con responsabilidad y cabeza. Ellos están dispuestos a darte todo el amor que tienen y tú eres la persona encargada de devolvérselo. <br><br> 
    
                Si tienes cualquier duda sobre este tema, puedes llamarnos y te asesoraremos en cómo iniciar este tipo de trámites.
            </p>

            <div class="line-article"></div>
        </div>
    </div>

    <app-footer></app-footer>
</section>