<section class="section-alimentos">

    <div class="encabezado">
        <app-nabvar></app-nabvar>
    </div>

    <div class="contenedor">
        <p class="text-principal"><b>Te invitamos a leer este artículo sobre los alimentos tóxicos para tu<br> mascota, para que sepas qué alimentos no debes darles.</b></p>

        <div class="articulo">
            <img src="/assets/img/imgAlimen 1.PNG.png" alt="img" class="img-articulo">
            <div class="text-articulo">
                <h2 class="h2-articulo">CAFÉ, CHOCOLATE Y TÉ</h2><br>
                <p class="p-articulo">Estos tres alimentos tienen en común un componente llamado metilxantina, que tienen como característica principal la excitación del sistema nervioso.<br><br>
                El té contiene teofilina, el café cafeína y el chocolate se compone de teobromina.<br><br>
                Estas sustancias en cantidades mínimas no hacen daño, pero la dosis letal no es muy alta. En una raza pequeña, con una onza de chocolate negro bastaría para causar daños irreversibles.
                </p>
                <div class="linea-articulo"></div>
            </div>
        </div>

        <div class="articulo">
            <img src="/assets/img/imgAlimen 2.PNG.png" alt="img" class="img-articulo">
            <div class="text-articulo">
                <h2 class="h2-articulo">LECHE</h2><br>
                <p class="p-articulo">Al igual que los humanos, los perros también pueden ser intolerantes a la lactosa, y podríamos decir que la mayoría de ellos lo son. Además de la lactosa, la grasa de la leche de vaca puede causar diarrea en nuestros animales. Los perros no cuentan con la enzima encargada de digerir la lactosa y aunque no sea letal puede causar enfermedades futuras.</p>
                <div class="linea-articulo"></div>
            </div>
        </div>

        <div class="articulo">
            <img src="/assets/img/imgAlimen 3.PNG.png" alt="img" class="img-articulo">
            <div class="text-articulo">
                <h2 class="h2-articulo">AJO Y ESPECIAS EN COMIDAS</h2><br>
                <p class="p-articulo">Nunca debemos darle comida con especias a nuestra mascota, al igual que la cebolla, el ajo puede destruir los glóbulos rojos de la sangre de nuestro perro. Cuanto más fuerte sea el ajo, más tóxico será para nuestra mascota. Los efectos de este no serán visibles inmediatamente, pero con el tiempo la orina de nuestro animal cobrará un tono entre naranja y rojizo. Además, este alimento puede causar anemia e insuficiencia renal.</p>
                <div class="linea-articulo"></div>
            </div>
        </div>

        <div class="articulo">
            <img src="/assets/img/imgAlimen 4.PNG.png" alt="img" class="img-articulo">
            <div class="text-articulo">
                <h2 class="h2-articulo">UVAS</h2><br>
                <p class="p-articulo">mascotas. Con solo una pequeña porción de ellas puede causar una insuficiencia renal aguda en ellos. Los compuestos químicos que causan estos síntomas aún se desconocen. Podrían quedarse levemente deshidratados y con falta de apetito.</p>
                <div class="linea-articulo"></div>
            </div>
        </div>

        <div class="articulo">
            <img src="/assets/img/imgAlimen 5.PNG.png" alt="img" class="img-articulo">
            <div class="text-articulo">
                <h2 class="h2-articulo">HUESITOS COCINADOS</h2><br>
                <p class="p-articulo">Los huesos de pollo cocinados, suelen ser astillosos y demasiado finos, de manera que presentan un gran riesgo: pueden clavarse y perforar con cierta facilidad el aparato digestivo de tu mascota. En estos casos, es necesaria una intervención quirúrgica para salvar su vida. Te recomendamos por lo tanto que el hueso este crudo al momento de dárselo a tu mascota, ya que es apto para que lo coman, siempre que se acompañe de la carne que lo rodea. Esto es porque los huesos se ablandan con el masticado y el salivado y junto a la carne, se convierten en una pasta que no supone un peligro para el tracto digestivo<br> del animal.</p>
                <div class="linea-articulo"></div>
            </div>
        </div>

    </div>
    <app-footer></app-footer>
</section>