<section class="seccion-prevencion">
    <div class="encabezado">
        <app-nabvar></app-nabvar>
    </div>
    <div class="contenedor">

        <div class="articulo">
            <img src="/assets/img/imgPreven.PNG.png" alt="img" class="img-articulo">
            <div class="text-articulo">
                <p class="p-articulo">
                    Los &nbsp; principales &nbsp; insectos &nbsp; que &nbsp; debemos &nbsp; prevenir &nbsp; son &nbsp; las pulgas, &nbsp; las garrapatas &nbsp;  y  &nbsp; los mosquitos. Hoy &nbsp; en el Hospital Veterinario &nbsp;Patas y Colas les queremos dar algunos consejos para tratar de prevenir este dilema que ocurre &nbsp; año tras año. ¡Quédate a leerlo e infórmate de todo lo que debes de sabes!<br><br>

                    Estos &nbsp; parásitos &nbsp; no solo &nbsp; producen &nbsp; enfermedades &nbsp; graves en&nbsp; nuestros &nbsp; animales, &nbsp; sino que &nbsp; también &nbsp; nos las pueden transmitir&nbsp; a&nbsp; nosotros.&nbsp; Por eso, &nbsp;hay que prevenir que estos pequeños parásitos no ataquen a nuestra mascota, ya que le puede&nbsp; producir&nbsp; enfermedades&nbsp; como &nbsp;la ehrlichiosis, &nbsp;leishmaniasis,&nbsp; filariosis &nbsp;o babesiosis,&nbsp; entre &nbsp;otros.
                </p>
                <div class="linea-articulo"></div>
            </div>
        </div>

        <div class="articulo-2">
            <h2 class="artic-h2-2">TIPOS DE PARÁSITOS</h2><br>
            <p class="artic-p-2">
                <b>PARÁSITOS EXTERNOS.</b> Aparecen, sobre todo, durante los meses de calor, entre marzo y octubre. Se localizan en el pelaje de nuestra mascota con el objetivo de picarle o agarrarse a su piel para succionar la sangre. Podemos diferenciar tres parásitos:
            </p>

            <p class="artic-p-2">
                Pulgas: Son los más frecuentes y los que están durante todo el año. Pueden estar escondidos en determinadas zonas de la casa y entre el pelo de tu perro.
            </p>

            <p class="artic-p-2">
                Garrapatas: Suelen atacar durante los cambios de estación entre primavera y otoño, generalmente. Además de picor, estos parásitos provocan en tu mascota anemias y hasta enfermedades infecciosas graves.
            </p>

            <p class="artic-p-2">Mosquito Flebótomo: Es el principal transmisor de la Leishmaniosis.</p>

            <p class="artic-p-2">
                <b>PARÁSITOS INTERNOS.</b> Se tratan de gusanos o lombrices que parasitan en el intestino del animal, aunque también se pueden albergar en otros órganos.
            </p><br>

            <h2 class="artic-h2-2">¿CUÁLES SON LOS TRATAMIENTOS RECOMENDADOS?</h2><br>

            <p class="artic-p-2">
                - Productos repelentes transdémicos. Los collares antiparasitarios, champús, sprays o pipetas son muy efectivos a la hora de combatir pulgas y garrapatas.<br><br>
                - Comprimidos masticables, pastillas o jarabes. Son ideales para atacar a parásitos internos en cachorros. También se pueden encontrar para el tratamiento de parásitos externos.<br><br>
                - Acude a tu veterinario. Es importante que te dirijas a tu veterinario más cercano en cuanto notes cualquier comportamiento extraño o molestia en tu mascota.
            </p><br>

            <h2 class="artic-h2-2">¿CÓMO PODEMOS PREVENIRLOS?</h2><br>
            <p class="artic-p-2">
                En la actualidad, existe en el mercado gran variedad de antiparásitos en forma de collares, sprays, pipetas, comprimidos orales o inyectables.
                Antes de comenzar, debes de saber que muchos de los productos que usamos no sirven para todas las especies. Por ejemplo, muchos de los que utilizamos para perros son tóxicos para gatos. Todo ello va a depender de cada grupo animal: si tiene alergia a algún producto, su pelaje, problemas dermatológicos, facilidad de colocación o administración, o por la zona en la que vives. <br><br>
                
                El lugar en el que vivas también influirá en la expansión de los parásitos, ya que están extendidos en unos sitios más que otros. Con ello también tienes que saber que en primavera comienza la época con más riesgo de transmisión y durará hasta el invierno, cuando las temperaturas son más bajas.
                Es importante acudir a tu centro veterinario para realizar las desparasitaciones convenientes tanto a nivel externo como interno para así proteger a tu compañero y fomentarle un buen estado de bienestar.<br>
                En <b>PETSCITY</b> te asesoramos sobre el método más adecuado para tu mascota. ¡Consúltanos sin compromiso y no te quedes con las dudas!
                </p>

                <div class="linea-articulo-2"></div>
            </div>
    </div>
    <app-footer></app-footer>
</section>