<section class="seccion-consejos">
    <div class="encavezado">
        <app-nabvar></app-nabvar>
    </div>

    <div class="contenedor-cards">

        <div class="card">
            <img src="assets/img/imgConsj 1.PNG.png" alt="img" class="img-card">
            <div class="text-card">
                <h3 class="h3-card">ALIMENTOS PERJUDICIALES PARA TU PERRO</h3>
                <p class="p-card">En muchas ocasiones no nos damos cuenta de que algunos alimentos pueden ser perjudiciales para nuestra mascota, es importante conocer cuáles son para evitar indigestiones, anemias y otros problemas.</p>
            </div>
            <button class="btn-card" type="button" routerLink="../pages/alimentos">LEER MÁS</button>
        </div>
        
        <div class="card">
            <img src="assets/img/imgConsj 2.PNG.png" alt="img" class="img-card">
            <div class="text-card">
                <h3 class="h3-card">PREVEE LA APARICIÓN DE PARÁSITOS EN TU PELUDO</h3>
                <p class="p-card">Con el aumento de las temperaturas y la llegada del buen tiempo aparecen con más frecuencia diversos parásitos externos que afectan a la salud de tu mascota. Te ayudaremos a saber cómo prevenirlos.</p>
            </div>
            <button class="btn-card" type="button" routerLink="../pages/prevencion">LEER MÁS</button>
        </div>
        
        <div class="card">
            <img src="assets/img/imgConsj 3.PNG.png" alt="img" class="img-card">
            <div class="text-card">
                <h3 class="h3-card">EL CUIDADO DE LAS AVES EN CASA: CONSEJOS PARA SU BIENESTAR  </h3>
                <p class="p-card">Una tarea bastante sencilla, ya que se trata de una de las mascotas más tranquilas que existen para tener en casa. Necesitan, como cualquier otro animal, responsabilidad para sus cuidados y su día a día.</p>
            </div>
            <button class="btn-card" type="button" routerLink="../pages/cuidado">LEER MÁS</button>
        </div>
        
        <div class="card">
            <img src="assets/img/imgConsj 4.PNG.png" alt="img" class="img-card">
            <div class="text-card">
                <h3 class="h3-card">LO QUE TIENES QUE SABER SOBRE CÓMO ADOPTAR UNA MASCOTA</h3>
                <p class="p-card">Tomar la decisión de adoptar una mascota será una buena opción, siempre y cuando se haga desde la responsabilidad y el conocimiento de la serie de cuidados que necesita diariamente</p>
            </div>
            <button class="btn-card" type="button" routerLink="../pages/adopcion">LEER MÁS</button>
        </div>
        
        <div class="card">
            <img src="assets/img/imgConsj 5.PNG.png" alt="img" class="img-card">
            <div class="text-card">
                <h3 class="h3-card">CONSEJOS PARA VIAJAR CON TU MASCOTA</h3>
                <p class="p-card">Viajar con un animal implica realizar una serie de pasos previos al viaje, durante el trayecto y cuando ya has llegado al lugar de destino. Conoce cuales son y como deberías hacerlos.</p>
            </div>
            <button class="btn-card" type="button" routerLink="../pages/viajes">LEER MÁS</button>
        </div>
        
        <div class="card">
            <img src="assets/img/imgConsj 6.PNG.png" alt="img" class="img-card">
            <div class="text-card">
                <h3 class="h3-card">CINCO CONSEJOS PARA CUIDAR CONEJOS Y ROEDORES</h3>
                <p class="p-card">Aunque son pequeñas mascotas, es necesario tener algunos conocimientos sobre su alimentación y cuidados para asegurar un buen estado de salud. Aquí te contamos como puedes hacerlo.</p>
            </div>
            <button class="btn-card" type="button" routerLink="../pages/roedores">LEER MÁS</button>
        </div>

    </div>
    <app-footer></app-footer>
</section>

    <!-- <a routerLink="../pages/alimentos">adopcion</a> -->
    
   
