<div class="section-vacunacion">
    <div class="encabezado">
        <app-nabvar></app-nabvar>
    </div>

    <div class="contenedor">
        <div class="imgs-vacun">
            <img src="/assets/img/imgVacun 1.PNG.png" alt="img-vacun-1" class="img-vacun-1">
            <img src="/assets/img/imgVacun 2.PNG.png" alt="img-vacun-2" class="img-vacun-2">
        </div>
        <div class="text-vacun">
            <p class="p-vacun">
                Las mascotas son un miembro más de la familia, por ello hay<br>
                que &nbsp; protegerlos &nbsp; cuidando &nbsp; su&nbsp; salud.&nbsp; La&nbsp; vacunación&nbsp; es&nbsp; la<br>
                manera &nbsp; más &nbsp; eficaz &nbsp; &nbsp; de &nbsp; prevenir &nbsp; ciertas &nbsp; enfermedades<br>
                causadas por virus y bacterias que los afectan. Cada vacuna<br>
                tiene&nbsp; un &nbsp; plan&nbsp; de&nbsp; vacunación&nbsp; diferente&nbsp; de &nbsp; acuerdo &nbsp; a &nbsp; la<br>
                especie,&nbsp; edad,&nbsp; raza,&nbsp; estado fisiológico y condición física &nbsp;del<br>
                paciente.&nbsp; En el caso de los caninos generalmente &nbsp;el plan &nbsp;de<br>
                vacunación &nbsp; comienza&nbsp; a &nbsp; partir&nbsp; de los 45 días de edad y 60<br>
                días en el caso de los felinos.<br><br>


                Los &nbsp; virus&nbsp; y&nbsp; bacterias&nbsp; que &nbsp; afectan gravemente a &nbsp; nuestros<br>
                perros&nbsp; están&nbsp; presentes&nbsp; en &nbsp; las&nbsp; secreciones de los animales<br>
                enfermos&nbsp; o&nbsp; portadores&nbsp; y&nbsp; en &nbsp;el ambiente. Para prevenir que<br>
                los mismos infecten aplicamos vacunas contra los virus de la<br>
                rabia, &nbsp; &nbsp; parvovirus, &nbsp; &nbsp; coronavirus &nbsp; y &nbsp; distemper&nbsp; &nbsp; (moquillo),<br>
                adenovirus &nbsp; (hepatitis canina), &nbsp; parainfluenza&nbsp; y la bacterina<br>
                contra&nbsp; la&nbsp; leptospirosis.&nbsp; Estas&nbsp; enfermedades son algunas de<br>
                las&nbsp; principales&nbsp; causas de&nbsp;muerte en los cachorros y caninos<br>
                adultos.<br><br>


                En &nbsp; el&nbsp; caso&nbsp; de&nbsp; los&nbsp; gatos, contamos con la vacuna contra la<br>
                rabia&nbsp; y&nbsp; contra la calicivirosis, rinotraqueitis, panleucopenia y<br>
                Clamidya psittaci.<br><br>


                En &nbsp; &nbsp; &nbsp; nuestras &nbsp; &nbsp; &nbsp; consultas &nbsp; &nbsp; &nbsp; de &nbsp;&nbsp; vacunación, &nbsp; realizamos<br>
                previamente &nbsp; una &nbsp; exploración &nbsp; física&nbsp; general,&nbsp; hematología<br>
                completa, &nbsp; examen&nbsp; de&nbsp; heces&nbsp; para&nbsp; poder&nbsp; elegir la &nbsp; vacuna<br>
                específica &nbsp; para &nbsp; tu &nbsp; mascota &nbsp; y &nbsp; asegurarnos que &nbsp; está en<br>
                condiciones de &nbsp; ser &nbsp; vacunado, de&nbsp; manera de&nbsp; asegurarnos<br>
                que&nbsp; la&nbsp; vacuna produzca un alto índice de&nbsp; protección con&nbsp; el<br>
                menor riesgo posible para el paciente.

            </p>
            <div class="line-vacun"></div>
        </div>
    </div>
    <app-spam-solicita></app-spam-solicita>
    <app-footer></app-footer>
</div>