<div class="section-laboratorio">
    <div class="encabezado">
        <app-nabvar></app-nabvar>
    </div>
    <div class="contenedor">
        <img src="/assets/img/imgLabor.PNG.png" alt="img laboratorio" class="img-labora">
        <div class="text-labora">
            <p class="p-labora">
                En &nbsp;&nbsp; el &nbsp; Centro &nbsp; Veterinario &nbsp; Los &nbsp; <b>PetsCity</b>&nbsp; nuestro &nbsp; personal<br>
                capacitado, &nbsp; realiza&nbsp; exámenes&nbsp; de&nbsp; laboratori&nbsp;o &nbsp;en&nbsp; equipos<br>
                propios, en los que procesamos muestras para hematología<br>
                (exámenes &nbsp; de &nbsp; sangre), &nbsp; &nbsp; química &nbsp; sanguínea, &nbsp; coprología<br>
                (exámenes &nbsp; de &nbsp; heces), &nbsp; citologías &nbsp; de la piel y otros tejidos,<br>
                uroanálisis y pruebas inmunológicas (distemper, parvorirus y<br>
                coronavirus &nbsp; canino, &nbsp; virus &nbsp; de &nbsp;la inmunodeficiencia felina y<br>
                virus de leucemia felina)<br><br><br>

                Los &nbsp; resultados sirven como ayuda diagnóstica de respuesta<br>
                rápida, &nbsp; que permite &nbsp; determinar &nbsp;patologías &nbsp; que afectan a<br>
                nuestros &nbsp;pacientes &nbsp;y &nbsp;los de cualquier colega que refiera las<br>
                muestras de sus pacientes a nuestro laboratorio.
            </p>
            <div class="line-labora"></div>
        </div>
    </div>
    <app-spam-solicita></app-spam-solicita>
    <app-footer></app-footer>
</div>