<div class="seccion-farcia">
    <div class="encabezado">
        <app-nabvar></app-nabvar>
    </div>

    <div class="contenedor">
        <div class="contenedor-2">

            <div class="imgs-farma">
                <img src="/assets/img/imgFarm 1.PNG.png" alt="img-farma1" class="img-farma-1">
                <img src="/assets/img/imgFarm 2.PNG.png" alt="img-farma2" class="img-farma-2">
            </div>
    
            <div class="text-farma">
                <p class="p-farma">
                    Nos esmeramos en que nuestra Farmacia &nbsp; Veterinaria cuente<br>
                    con&nbsp; un&nbsp; extenso&nbsp; surtido de medicamentos veterinarios de las<br>
                    mejores marcas de la industria farmacéutica.<br><br><br>
    
    
                    Ofrecemos &nbsp; desde &nbsp;productos &nbsp;cosméticos &nbsp;y &nbsp;dermatológicos<br>
                    hasta &nbsp; medicamentos &nbsp; para &nbsp; tratar &nbsp; las &nbsp;enfermedades &nbsp;más<br>
                    severas, &nbsp;&nbsp;&nbsp; como &nbsp;&nbsp;&nbsp; antibióticos, &nbsp;&nbsp;&nbsp; antimicóticos, &nbsp;&nbsp; protectores<br>
                    estomacales, &nbsp;&nbsp;gotas &nbsp;&nbsp;para &nbsp;&nbsp;ojos y &nbsp;&nbsp;oídos. &nbsp;&nbsp;Incluyendo &nbsp;varias<br>
                    alternativas &nbsp; de &nbsp; última &nbsp; línea &nbsp; para &nbsp;el &nbsp;control &nbsp;de &nbsp;parásitos<br>
                    internos &nbsp;y &nbsp;externos &nbsp;como &nbsp;pulgas, garrapatas y &nbsp;ácaros de la<br>
                    sarna.<br><br><br>
    
                    Además, &nbsp; podrá &nbsp;conseguir &nbsp;alimentos &nbsp;de &nbsp;excelente &nbsp;calidad,<br>
                    adecuados &nbsp; para &nbsp; el &nbsp; tamaño &nbsp; y &nbsp; &nbsp; edad &nbsp;&nbsp; de &nbsp;&nbsp; su &nbsp;&nbsp; mascota,<br>
                    incluyendo &nbsp;&nbsp;alimentos &nbsp;medicados &nbsp;diseñados &nbsp;para &nbsp;nuestros<br>
                    peludos &nbsp;&nbsp; con &nbsp;&nbsp; condiciones &nbsp;&nbsp;de &nbsp;&nbsp;salud &nbsp;&nbsp;que &nbsp;&nbsp;necesitan &nbsp;&nbsp;una<br>
                    alimentación especial.<br><br><br>
    
                    En nuestro horario de 8 am a 3 pm de lunes a Domingo, podrá<br>
                    adquirir &nbsp;el &nbsp;medicamento &nbsp;que &nbsp;necesita &nbsp; para &nbsp; su &nbsp; mascota.<br>
                    Traiga su receta médica y &nbsp;con &nbsp;mucha &nbsp;seguridad &nbsp;podremos<br>
                    ayudarle.
                </p>
                <div class="line-farma"></div>
            </div>

        </div>
        <div class="spam-solicita">
            <app-spam-solicita></app-spam-solicita>
        </div>
    </div>
    
    <app-footer></app-footer>
</div>