<div class="section-radiografia">
    <div class="encabezado">
        <app-nabvar></app-nabvar>
    </div>

    <div class="contenedor">
        <div class="contenedor-2">
            <div class="imgs-radio">
                <img src="/assets/img/imgRadio 1.PNG.png" alt="img-radio-1" class="img-radio-1">
                <img src="/assets/img/imgRadio 2.PNG.png" alt="img-radio-2" class="img-radio-2">
            </div>
            <div class="text-radio">
                    <h2 class="h2-radio">RADIOLOGÍA</h2>
                    <p class="p-radio">
                        En <b>PetsCity</b> consideramos que la historia clínica del paciente,<br>
                        seguido &nbsp; por &nbsp; un &nbsp; buen &nbsp; examen &nbsp; físico, &nbsp; puede&nbsp; requerir&nbsp; de<br>
                        algunos &nbsp; exámenes &nbsp; complementarios &nbsp; como&nbsp; la&nbsp; radiología,<br>
                        entre otros, para llegar a un diagnóstico.<br><br>
    
                        Contamos &nbsp; &nbsp; con &nbsp; &nbsp; equipos &nbsp; &nbsp; de &nbsp; &nbsp; radiología &nbsp; &nbsp; &nbsp; &nbsp; veterinaria<br>
                        computarizada,&nbsp; también llamada radiografía digital,&nbsp; la cual,<br>
                        nos&nbsp; ayuda&nbsp; detectar&nbsp; alteraciones&nbsp; en &nbsp; el esqueleto y &nbsp; ciertos<br>
                        tejidos blandos de pacientes con alguna patología.<br><br>
    
                        Conocer &nbsp; bien &nbsp; la &nbsp; técnica&nbsp; radiológica&nbsp; es&nbsp; importante, &nbsp; pero<br>
                        contar &nbsp; &nbsp; con &nbsp; &nbsp; médicos &nbsp;&nbsp; veterinarios &nbsp; &nbsp; capacitados &nbsp; y &nbsp; con<br>
                        experienci &nbsp; a&nbsp; para &nbsp; interpretar &nbsp; las&nbsp; &nbsp; imágenes &nbsp; es &nbsp; de &nbsp; vital<br>
                        importancia.<br><br>
    
                        Los &nbsp; colegas &nbsp; de &nbsp; nuestra&nbsp; área&nbsp; cuentan&nbsp; con&nbsp; nosotros&nbsp; para<br>
                        obtener &nbsp; &nbsp; las &nbsp; &nbsp; imágenes &nbsp; radiológicas &nbsp; &nbsp; de &nbsp; sus &nbsp; pacientes<br>
                        referidos.<br><br><br>
                    </p>
    
                    <h2 class="h2-radio">ECOGRAFÍA</h2>
                    <p class="p-radio">
                        La &nbsp; ecografía &nbsp; es &nbsp; una &nbsp; técnica &nbsp; diagnóstica &nbsp; sencilla &nbsp; y &nbsp; no<br>
                        invasiva, &nbsp; de &nbsp; vital &nbsp; importancia&nbsp; en&nbsp; la&nbsp; medicina&nbsp; veterinaria,<br>
                        cuyo &nbsp; fin &nbsp; es &nbsp; la &nbsp; evaluación &nbsp; de &nbsp; lo &nbsp; tejidos &nbsp; blandos &nbsp; de los<br>
                        animales.<br><br>
    
                        Esta&nbsp; &nbsp; prueba&nbsp; &nbsp; utiliza&nbsp; &nbsp; ondas &nbsp; sonoras &nbsp; de &nbsp; alta &nbsp; frecuencia,<br>
                        superiores &nbsp; a &nbsp; la &nbsp; audible, &nbsp; de &nbsp; tal&nbsp; manera&nbsp; que&nbsp; capacita&nbsp; al<br>
                        monitor&nbsp; del&nbsp; equipo&nbsp; a&nbsp; reproducir&nbsp; la&nbsp; zona&nbsp; corporal&nbsp; que está<br>
                        siendo explorada por el profesional veterinario.<br><br>
    
                        Es &nbsp; capaz&nbsp; de &nbsp; proporcionar a los&nbsp; veterinarios &nbsp; imágenes &nbsp; en<br>
                        movimiento&nbsp; &nbsp; de &nbsp; las &nbsp; estructuras &nbsp; &nbsp; que &nbsp; estudia,&nbsp; &nbsp; pudiendo<br>
                        diferenciar &nbsp;&nbsp; distintos &nbsp; tipos &nbsp; de &nbsp;   &nbsp; tejidos. &nbsp; A &nbsp; su &nbsp; vez, &nbsp; puede<br>
                        combinarse &nbsp; con&nbsp; diferentes&nbsp; pruebas&nbsp; diagnósticas,&nbsp; como&nbsp; el<br>
                        uso de contraste o punciones eco&nbsp; guiadas,&nbsp; para&nbsp; una&nbsp; mayor<br>
                        precisión en la determinación&nbsp; de&nbsp; las&nbsp; alteraciones&nbsp; presentes<br>
                        en el animal.
                    </p>
                
                <div class="line-radio"></div>
            </div>
        </div>
        <div class="span-solicita">
            <app-spam-solicita></app-spam-solicita>
        </div>
    </div>
    
    <app-footer></app-footer>
</div>

