  <!-- CIERRE FOOTER -->
  <section class="seccion-cierre">

    <div class="text-cierre">
      <h5 class="h5cierre1"><b>PETSCITY</b></h5>
      <p class="p-cierre">Queremos agradecer tu confianza en<br> el tratamiento de tus mascotas.<br><br>
        Somos un equipo formado por<br> profesionales calificados y en<br> constante formación para brindarte<br> la mejor atención en un solo lugar<br><br></p>
      <div class="linea-cierre"></div>
    </div>

    <div class="text-cierre">
      <h5 class="h5cierre"><b>Horario</b></h5>
      <p class="p-cierre">Atención al cliente Online:<br>
        Lunes a Viernes 08:00am - 03:00pm<br><br>
        Atención médica veterinaria de<br> emergencia en nuestras<br> instalaciones:<br>
        Las 24 horas del día<br>
        Los 7 días de la semana</p>
      <div class="linea-cierre"></div>
    </div>

    <div class="text-cierre">
      <h5 class="h5cierre"><b>Contáctanos</b></h5>
      <p class="p-cierre">+58 000 00 00 000<br>
        0241 000 00 00<br>
        0241 000 00 00<br><br>
        info@petscity.com<br><br>
        Calle 112 Guzmán Blanco<br>
        Valencia, Carabobo<br></p>
      <div class="linea-cierre"></div>
    </div>
    
  </section>
  <!-- CIERRE -->

<footer>

  <div class="footer aling-item-stretch d-flex flex-column justify-content-center align-items-center">
      <img src="/assets/icons/logoTipBlan.PNG.png" id="footer-ico" alt="icono" class="d-flex flex-column align-items-center justify-content-center">
        <div class="footer-text">
            <p id="footer-parra"> © 2007-2023 CLÍNICA VETERINARIA PETSCITY.</p>
            <h4 id="footer-text"> CITA PREVIA 000 00 00 000 - SÓLO URGENCIAS 0000 000 00 00 </h4>
            <p id="CEO">Copyrigth 2023 petsCity | By ABBA Studio Company | Todos los derechos reservados.</p>
        </div>
  </div>

</footer>