<section class="solicitar">
    <div class="encabezado">
            <app-nabvar></app-nabvar>
    </div>
    <div class="text-solicitar">
        <h2 class="h2-text">SOLICITA TU CITA CON NOSOTROS</h2>
        <p class="p-text">Completa el siguiente formulario y en <br> breve nos comunicaremos contigo</p>
        <div class="line-text"></div>
    </div>

    <div class="contenedor-formulario">

        <form class="form">

            <div class="formulario">

                <input class="input" type="text" placeholder="  Nombre y Apellido:">
        
                <input class="input" type="text" placeholder="  Correo Electronico:">
        
                <select class="form-select form-select-sm input" aria-label=".form-select-sm example">
                    <option selected hidden>Tipo de Mascota</option>
                    <option value="1">Perro</option>
                    <option value="2">Gato</option>
                    <option value="4">Conejo</option>
                    <option value="5">Tortuga</option>
                    <option value="6">Hamster</option>
                    <option value="7">Ave</option>
                    <option value="8">Caballo</option>
                    <option value="9">Vaca</option>
                    <option value="10">Cerdo</option>
                  </select>
        
                <textarea class="text-area" name="" placeholder="  Mensaje:"></textarea>

            </div>
    
            <button class="btn-submit" type="submit">ENVIAR FORMULARIO</button>
    
        </form>

        <div class="contac-direc">
            <img src="/assets/icons/ICON WSP-12.png" alt="icono" class="icono-info">
            <img src="/assets/icons/ICON EMAIL-12.png" alt="icono" class="icono-info">
            <img src="/assets/icons/ICON UBICACION-12.png" alt="icono" class="icono-info">
        </div>

    </div>

    <app-footer></app-footer>
</section>