<section class="section-roedores">

        <div class="encabezado">
            <app-nabvar></app-nabvar>
        </div>
        <div class="container">
            <div class="article-1">
                <img src="/assets/img/img.Roed.PNG.png" alt="img" class="img-article-1">
                <div class="text-article-1">
                    <p class="p-article">
                        Los &nbsp; perros &nbsp; y &nbsp; gatos &nbsp; no &nbsp; son &nbsp; las &nbsp; únicas &nbsp; mascotas &nbsp; que<br>
                        comparten &nbsp; el &nbsp; hogar &nbsp; con nosotros. Los conejos y roedores<br>
                        como los hámsteres, conejillos de indias, erizos o gerbos son<br>
                        también animales habituales en las casas.<br><br>

                        Aunque son pequeñas mascotas, es necesario tener algunos<br>
                        conocimientos &nbsp; sobre &nbsp; su &nbsp; alimentación &nbsp; y &nbsp; cuidados &nbsp; para<br>
                        asegurar un buen estado de salud.
                    </p>
                    <div class="line-article"></div>
                </div>
            </div>
    
            <div class="article-2">
    
                <h2 class="h2-article">1. PREPARA LA JAULA ADECUADA</h2>
    
                <p class="p-article">
                    Los conejos y roedores pasarán la mayor parte del tiempo en una jaula, por esta razón debe cumplir una serie de<br>
                    requisitos:<br><br>

                    Debe ser lo más grande posible. Esta característica suele depender del sitio que dispongas en casa, pero debe ser<br>
                    lo suficientemente grande para que el animal pueda moverse libremente por ella. Para roedores lo más<br>
                    recomendable son las jaulas altas de varios niveles.<br><br>

                    Refugio o madriguera. A los conejos y roedores les gusta sentirse seguros, prepara una especie de refugio donde<br>
                    puedan esconderse y ofréceles materiales para que construyan su madriguera o nido.<br><br>

                    Mantén una higiene diaria. La limpieza de la jaula es muy importante para evitar infecciones y malos olores.Cambia<br>
                    el sustrato sucio a diario y retira los restos de comida.<br><br>

                    Elige un buen sustrato. Los mejores sustratos son los de madera prensada, maíz y papel reciclado. La viruta, serrín o<br>
                    tiras de papel no absorben bien la humedad, se apelmazan y eliminan polvo. La sepiolita está absolutamente<br>
                    contraindicada, pues el polvo que elimina produce daños en las vías respiratorias y causa pododermatitis, pero<br>
                    además la ingestión de estas piedrecitas puede producir intoxicación y obstrucción intestinal.<br><br>

                    Enriquece su medio. Coloca refugios, juguetes, cuerdas, hamacas… cualquier elemento que entretenga a la<br>
                    mascota.
                </p>
    
                <h2 class="h2-article">2. CUIDA LA ALIMENTACIÓN DE TU MASCOTA</h2>
    
                <p class="p-article">
                    Ofrece a tu mascota una dieta completa, variada y equilibrada. Aunque venden piensos para cada especie,<br>
                    puedes suplementar su alimentación con frutas, verduras o heno...<br><br>

                    Utiliza pellets de calidad. Siempre es una buena opción invertir en un pienso de alta gama.<br><br>

                    Los conejillos de indias no sintetizan la vitamina C por tanto tienes que asegurarte que la incorporas en su dieta. Los<br>
                    kiwis, fresas, cítricos, pimientos y espinacas son una buena fuente de esta vitamina.<br><br>

                    Dieta rica en fibra. Los roedores y conejos necesitan un alto aporte en fibra para evitar el sobrecrecimiento dental y<br>
                    problemas gastrointestinales. El heno es una parte fundamental en la dieta de los conejos.<br><br>

                    Verduras y frutas. Infórmate de los requisitos nutricionales de la especie y elabora un «menú» acorde con esto. Las<br>
                    espinacas y la alfalfa pueden ser muy beneficiosas para los conejos deben ofrecerse con moderación.<br><br>

                    Agua fresca siempre disponible. Según la especie deberás usar un tipo u otro de bebedero.
                </p>
    
                <h2 class="h2-article">3. ACUDE AL VETERINARIO SI OBSERVAS ALGÚN PROBLEMA</h2>
    
                <p class="p-article">
                    En <b>PetsCity</b> estamos especializados en el cuidado de mascotas diferentes a los perros y gatos. Si observas algún<br>
                    problema de salud en tu mascota no dudes en acudir con nosotros.<br><br>

                    Los síntomas de enfermedad pueden pasar algo más desapercibidos en estas mascotas, por sus hábitos nocturnos<br>
                    o la forma de expresarlos. Algunos signos comunes pueden ser:<br><br>

                    Pérdida de peso<br>
                    Vómitos<br>
                    Diarreas<br>
                    Estreñimiento<br>
                    Decaimiento<br>
                    Postura anormal<br>
                    Falta de apetito<br>
                    En erizos puede aparecer un tambaleo y pérdida de equilibrio consecuencia del síndrome de Wobbly o síndrome<br>
                    del erizo tambaleante, un problema neurológico, parecido a la esclerosis múltiple en humanos.<br><br>

                    Además de estos, pueden padecer otros muchos problemas que si se tratan a tiempo puede suponer una gran<br>
                    diferencia para su bienestar.
                </p>

                <h2 class="h2-article">4. MEJOR EN GRUPO</h2>
    
                <p class="p-article">
                    En general, los roedores son animales sociales (aunque no todos, como los erizos) y siempre preferirán compartir<br>
                    su jaula con otro de su especie. Las ratas, gerbos y degús son muy sociables y es recomendable que tengan<br>
                    compañía.
                </p>
    
                <h2 class="h2-article">5. REALIZA UN BUEN MANEJO</h2>
    
                <p class="p-article">
                    Los conejos y roedores suelen ser animales asustadizos, requerirán un tiempo para habituarse a nosotros, cuando<br>
                    los manipulemos debemos hacerlo con delicadeza y utilizando el refuerzo positivo.<br><br>

                    Para coger un conejo en brazos tenemos que hacerlo con firmeza, recogiendo sus patas traseras para evitar que<br>
                    pateen al aire y se dañen la columna. A los erizos debemos cogerlos por la parte ventral con ambas manos para<br>
                    evitar hacernos daño con sus púas. Y con los degús y gerbos debemos ser cuidadosos y no levantarlos de la cola,<br>
                    pues se puede desprender la piel de esta zona.<br><br>

                    A la mayoría de estos animales podemos dejarlos explorar fuera de su jaula, pero siempre comprobando<br>
                    previamente que no haya ningún hueco donde puedan esconderse.
                </p>

                <div class="line-article"></div>
            </div>
        </div>
    
        <app-footer></app-footer>
</section>