<section class="servicios">
    <div class="encabezado">
        <app-nabvar></app-nabvar>
    </div>

    <div class="article">
        <div class="article-doble">
            <img class="img-article" src="/assets/img/imgServGene.PNG.png" alt="">
            <div class="text-serv">
                 <p class="p-text"> Contamos con un grupo de profesionales de la Medicina<br> Veterinaria y auxiliares técnicos   veterinarios altamente<br> capacitados, con experiencia y motivados por nuestra Misión<br> de “Proveer salud a la mayor diversidad de especies de<br> mascotas, a través de diagnósticos precisos y alternativas<br> terapéuticas eficaces, ofreciendo la mejor atención por<br> medio de un equipo de personas capacitadas que mantiene<br> una educación continua y usando tecnología adecuada a<br> nuestro alcance”.<br><br>
                 Aunque la mayoría de nuestros pacientes son perros y gatos,<br> atendemos mascotas no convencionales, que incluyen<br> pequeños mamíferos, como conejos, hámsteres, conejillo de<br> indias, chinchillas, ratones, hurones y erizos. Además,<br> atendemos aves, mamíferos y reptiles silvestres mantenidos<br> como mascotas.<br><br>
                 Contamos con todos los equipos para atender a su mascota<br> de forma integral, para prestar los servicios de consulta<br> general y especializada, radiología, ecografía, laboratorio,<br> cirugía, hospitalización, peluquería, vacunación, farmacia,<br> peluquería, etc.
                </p>
                <div class="line-serv"></div>
            </div>
        </div>
    </div>

    <div class="cita-items">

        <div class="item">
            <img class="icon-item" src="/assets/icons/isotipoMora.PNG.png" alt="">
            <p class="p-item">Nuestro horario de consulta, preferiblemente con<br> cita previa, es de <b>lunes a domingos de 8 am a 3 pm.</b></p>
        </div>

        <div class="item">
            <img class="icon-item" src="/assets/icons/isotipoMora.PNG.png" alt="">
            <p class="p-item">Horario de emergencias las <b>24 horas</b></p>
        </div>

        <button class="btn-cita" type="button" routerLink="/city/solicitar">¡Solicita tu Cita aquí!</button>
    </div>
    <app-puntos></app-puntos>

    <div class="banner-ser">
        <h2 class="h2-banner">Descubre nuestros<br><b> servicios veterinarios</b></h2>
    </div>

    <!-- CARDS SERVICIOS -->

    <div class="servicios-cards">

       <h2 class="h2-serv">SERVICIOS</h2>

      <div class="contenedor-cards">
        
        <div class="card" data-aos="fade-right" data-aos-duration="1500">
          <figure class="figure-card">
            <img class="img-card" src="/assets/img/imgServi 1.PNG.png" alt="img">
            <div class="capa">
              <img (click)="goTo2('consulta')" class="ico-serv" src="/assets/icons/iconServi 1.PNG.png" alt="icono">
            </div>
          </figure>
          <h2 class="h2-card">CONSULTA</h2>
          <p class="p-card">Realizamos consultas generales <br> en medicina veterinaria para <br> caninos, felinos y mascotas no <br> convencionales (conejos, <br> conejillos de indias, hámster, etc).<br><br></p>
        </div>
        
        <div class="card" data-aos="fade-up" data-aos-duration="1500">
          <figure class="figure-card">
            <img class="img-card" src="/assets/img/imgServi 2.PNG.png" alt="img">
            <div class="capa">
              <img (click)="goTo2('cirugia')" class="ico-serv" src="/assets/icons/iconServi 2.PNG.png" alt="icono">
            </div>
          </figure>
          <h2 class="h2-card">CIRUGÍAS</h2>
          <p class="p-card">Realizamos técnicas quirúrgicas<br> que permiten a su mascota<br> recuperarse completa y<br> satisfactoriamente, facilitando su<br> cuidado postoperatorio por parte<br> del propietario</p>
        </div>
        
        <div class="card" data-aos="fade-left" data-aos-duration="1500">
          <figure class="figure-card">
            <img class="img-card" src="/assets/img/imgServi 3.PNG.png" alt="img">
            <div class="capa">
              <img (click)="goTo2('peluqueria')" class="ico-serv" src="/assets/icons/iconServi 3.PNG.png" alt="icono">
            </div>
          </figure>
          <h2 class="h2-card">PELUQUERÍA</h2>
          <p class="p-card">La higiene y salud dependen<br> también de que nuestros pequeños<br> amigos estén constantemente<br>   atendidos por expertos, ya que con<br> el buen mantenimiento de su pelaje,<br> prevenimos patologías de la piel.</p>
        </div>
        
        <div class="card"data-aos="fade-right" data-aos-duration="1500">
          <figure class="figure-card">
            <img class="img-card" src="/assets/img/imgServi 4.PNG.png" alt="img">
            <div class="capa">
              <img (click)="goTo2('radiografia')" class="ico-serv" src="/assets/icons/iconServi 4.PNG.png" alt="icono">
            </div>
          </figure>
          <h2 class="h2-card">RADIOLOGÍA Y ECOGRAFÍA</h2>
          <p class="p-card">La ecografía con ondas sonoras crea<br> imágenes de órganos, tejidos<br> blandos del interior del cuerpo. Y la<br> radiografía tiene como especialidad<br> mostrar los huesos.</p>
        </div>
        
        <div class="card"data-aos="fade-up" data-aos-duration="1500">
          <figure class="figure-card">
            <img class="img-card" src="/assets/img/imgServi 5.PNG.png" alt="img">
            <div class="capa">
              <img (click)="goTo2('laboratorio')" class="ico-serv" src="/assets/icons/iconServi 5.PNG.png" alt="icono">
            </div>
          </figure>
          <h2 class="h2-card">LABORATORIO</h2>
          <p class="p-card">Nuestro personal capacitado, realiza<br> exámenes de laboratorio en equipos<br> propios, en los que procesamos<br> muestras para hematología, química<br> sanguínea, coprología, etc.</p>
        </div>
        
        <div class="card"data-aos="fade-left" data-aos-duration="1500">
          <figure class="figure-card">
            <img class="img-card" src="/assets/img/imgServi 6.PNG.png" alt="img">
            <div class="capa">
              <img (click)="goTo2('farmacia')" class="ico-serv" src="/assets/icons/iconServi 6.PNG.png" alt="icono">
            </div>
          </figure>
          <h2 class="h2-card">FARMACIA</h2>
          <p class="p-card">Nos esmeramos en que nuestra<br> Farmacia Veterinaria cuente con un<br> extenso surtido de medicamentos<br> veterinarios de las mejores marcas<br> de la industria farmacéutica.</p>
        </div>
        
        <div class="card"data-aos="fade-up" data-aos-duration="1500">
          <figure class="figure-card">
            <img class="img-card" src="/assets/img/imgServi 7.PNG.png" alt="img">
            <div class="capa">
              <img (click)="goTo2('vacunacion')" class="ico-serv" src="/assets/icons/iconServi 7.PNG.png" alt="icono">
            </div>
          </figure>
          <h2 class="h2-card">VACUNACIÓN</h2>
          <p class="p-card">En nuestras consultas, realizamos<br> previamente una exploración física<br> general, hematología completa,<br> examen de heces para poder elegir<br> la vacuna específica para tu mascota.</p>
        </div>
        

      </div>

    </div>
    <app-footer></app-footer>
</section>