<div class="about">
    <div class="encabezado">
        <app-nabvar></app-nabvar>
    </div>

    <div class="img-info">

        <div class="fundadores">
            <img class="img-sm" src="/assets/img/Qui-som-img 1.PNG.png" alt="img">
            <div class="contenedor-texto">
                <h2 class="text-fund">DR. OSWALDO VILLASANA<br> FUNDADOR</h2>
                <p class="text-p-fund">Médico Veterinario con Especialización y Maestría en el<br> Área de Cirugía de Tejidos Blandos. con más de 25 años<br> de experiencia en el área.  Experto en medicina<br> preventiva de las enfermedades infecciosas animales, y<br> dedicado constantemente al desarrollo de nuevas<br> técnicas de diagnóstico para la salud y cuidado de<br> nuestros pequeños amigos.</p>
                <div class="line-fund"></div>
            </div>
        </div>

        <div class="fundadores">
            <img class="img-sm" src="/assets/img/Qui-som-img 2.PNG.png" alt="img">
            <div class="contenedor-texto">
                <h2 class="text-fund">DRA. ESTHER VILLASANA <br>CO-FUNDADORA</h2>
                <p class="text-p-fund">Médico en Veterinaria Clínica, toxicóloga certificada<br> experta en la investigación de Enfermedades Parasitarias<br> y especialista en cuidados intensivos de emergencia en<br> animales domésticos.  La Dr. Esther hija y aprendiz del Dr.<br> Oswaldo buscará cada detalle para prolongar, cuidar y<br> salvaguardar con mucho amor la vida de tu mascota.</p>
                <div class="line-fund"></div>
            </div>
        </div>

        <div class="equipo">
            <img class="img-lg" src="/assets/img/Qui-som-img 3.PNG.png" alt="img">
            <p class="p-equipo">Contamos con un grupo de profesionales de la Medicina Veterinaria y auxiliares técnicos veterinarios<br> altamente capacitados, con experiencia y motivados por nuestra Misión de “Proveer salud, cuidado y<br> amor a tus mascotas, a través de diagnósticos precisos y alternativas terapéuticas eficaces, ofreciendo la<br> mejor atención por medio de un equipo de personas capacitadas que mantiene una educación continua<br> y usando tecnología adecuada a nuestro alcance “.</p>

            <app-puntos></app-puntos>
        </div>

    </div>

    <div class="banner-section">
        <div class="text-banner">
            <h2 class="oscuro">Cuidado<br><b>profesional</b><br>de tus mascotas</h2>
            <h2 class="claro"><b>SOLICITA TU CITA</b><br>CON NOSOTROS</h2>
            <div class="line-text"></div>
            <button class="btn-solicitar" type="button" routerLink="/city/solicitar">¡Haz click aquí!</button>
        </div>
    </div>

    <app-footer></app-footer>
</div>