<div class="cita-items">

    <div class="item" data-aos="fade-left" data-aos-duration="1000">
        <img class="icon-item" src="/assets/icons/isotipoMora.PNG.png" alt="">
        <p class="p-item">Nuestro horario de consulta, preferiblemente con<br> cita previa, es de <b>lunes a domingos de 8 am a 3 pm.</b></p>
    </div>

    <div class="item" data-aos="fade-left" data-aos-duration="2000">
        <img class="icon-item" src="/assets/icons/isotipoMora.PNG.png" alt="">
        <p class="p-item">Horario de emergencias las <b>24 horas</b></p>
    </div>

    <button class="btn-cita" type="button" routerLink="/city/solicitar" data-aos="fade-left" data-aos-duration="3000">¡Solicita tu Cita aquí!</button>

</div>
