.cita-items{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.item{
    display: flex;
    gap: 1.2rem;
}
.icon-item{
    height: 30px;
    width: 30px;
}
.p-item{
   font-size: 1.2rem ;
   color: #9880b9;
}
/* .item{} */
/* .icon-item{} */
.btn-cita{
    height: 4rem;
    width: 20rem;
    background-color: #00b9ab;
    border-radius: 0px 50px 50px 50px;
    border-style: none;
    color: #e9e9e9;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.btn-cita:hover{
    color: #c0d088;
    border-bottom: #9880b9 solid 3px;
}