<section class="seccion-cunsulta">
    <div class="encabezado">
        <app-nabvar></app-nabvar>
    </div>

    <div class="contenedor">

        <div class="item-consulta">
            <div class="imgs-consulta">
                <img src="/assets/img/imgConsu 1.PNG.png" alt="img-consulta" class="img-1-consulta">
                <img src="/assets/img/imgConsu 2.PNG.png" alt="img-consulta" class="img-2-consulta">
            </div>
            <div class="text-consulta">
                <p class="p-consulta">
                    En una consulta general evaluamos el estado del paciente, y<br>
                     si &nbsp; así &nbsp; lo &nbsp; consideramos &nbsp; recomendamos la realización &nbsp;de<br>
                      pruebas &nbsp; complementarias &nbsp; que &nbsp; nos &nbsp;puedan ayudar en el<br>
                       diagnóstico.<br><br><br>

                    En nuestra Clínica disponemos de cuatro salas de consultas.<br>
                     De &nbsp;esta &nbsp; manera, además &nbsp; de&nbsp;evitar &nbsp; tiempos &nbsp; de &nbsp; espera,<br>
                      tratamos de &nbsp; separar cada especie y lo &nbsp; que&nbsp;consideramos<br>
                       más &nbsp; importante &nbsp; aún, evitamos &nbsp; el contacto &nbsp; de &nbsp; aquellos<br>
                        animales que sospechamos&nbsp; puedan tener una enfermedad<br>
                         infecciosa.<br><br><br>

                    Sabemos &nbsp; desde &nbsp;&nbsp; hace &nbsp; más de 20 años, que &nbsp; una &nbsp; buena<br>
                     atención en consulta es la &nbsp; base fundamental &nbsp; para que &nbsp; la<br>
                      relación&nbsp; propietario-veterinario &nbsp; sea &nbsp; de&nbsp; total confianza. En<br>
                       Clínica &nbsp;<b>Petscity</b>&nbsp; apostamos por la continuidad,&nbsp; y&nbsp; sabemos<br>
                        que para usted es importante que cuando su mascota vaya<br>
                         a consulta, encuentre siempre los mismos profesionales que<br>
                          saben su historial y como trataros.<br><br><br>

                    Además&nbsp; tratamos de facilitar el cumplimiento de la&nbsp; terapia<br>
                     ofreciendo distintas alternativas en cada caso.
                </p>

                <div class="line-consulta"></div>
            </div>
        </div>
        <div class="spam-solicita">
            <app-spam-solicita></app-spam-solicita>
        </div>
    </div>
    <app-footer></app-footer>
</section>